doctype html
html
  head
    title ToDoList
  body
    h1 ToDoList

    form(method="post")
      input(type="text", name="content")
      button(type="submit") Ajouter
    each task in tasks
      p #{task.content}
      button.delete(type='button', data-id=task._id) Supprimer

    script(type="text/javascript", src="client.js") 

    