doctype html
html
  head
    title ToDoList
    link(rel='stylesheet', type="text/css" , href='style.css')
  body
    h1 ToDoList

    form(method="post")
      input(type="text", name="content")
      button(type="submit") Ajouter
    each task in tasks
      p(class='text-red-500') #{task.content}
      button.delete(type='button', data-id=task._id) Supprimer

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")

    script(type="text/javascript", src="client.js") 

    