doctype html
html
  head
    title ToDoList
  body
    h1 ToDoList

    form(method="post")
      input(type="text", name="content")
      button(type="submit") Ajouter

    script(src="./js/client.js") 
       